* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(../images/i2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 116px;
    padding: 10px 20px;
    background-color: rgba(39, 29, 27, 0.568);
    backdrop-filter: blur(8px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 99;

}

.header-logo img {
    max-height: 80px; 
    object-fit: cover;
    object-position: center;
    position: relative;
    top:50px ;
    left:50px ;
}
.header-title {
    flex: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-title h1 {
    font-size: 2.5rem; 
    
    color: rgb(214, 201, 169); 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);

}

.wrapper
{   
    position: relative;
    width : 400px ; 
    height:440px ; 
    background: transparent;
    background-color: rgba(245, 245, 220, 0.8);
    border-radius: 20px;
    backdrop-filter: blur(3px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    
}
.wrapper .form-box 
{
    width: 100%;
    padding: 40px;
    


}
.form-box h2 
{
   font-size: 2em ;
    color: #333;
    text-align: center;
}
.input-box {
position :relative ; 
width:100%;
height: 50px;
border-bottom:2px solid #162938 ;
margin : 30px 0 ; 
}
.input-box label 
{
    position: absolute;
    top:50% ; 
    left:5px ;
    transform: translateY(-50%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;

}
.input-box input:focus~label , 
.input-box input:valid~label {
    top : -5px ;
}
.input-box input {
    width:100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none ; 
    font-size: 1em;
    color: #162938;
    font-weight: 600;
    padding: 0 35px 0 5px ; 
    }
    

.input-box .icon 
{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: black;
    line-height:57px ;

}
.log-in {
    width: 100%;
    height: 50px;
    background-color:rgb(111, 65, 42);
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer ;
    font-size: 1em;
    color: white;
    font-weight: 500;
    margin-top: 30px;
    transition: background-color 0.3s ease-in-out;

}
.log-in:hover {
    background-color:rgb(166, 155, 91);
}